body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #111111;
  color: #E2E2E2;
}

/**********/
/* Banner */
/**********/
#banner {
  background-color: #1F1F1F;
  padding: 2em;
}

#banner h1 {
  margin: 0;
  text-align: center;
  font-size: 50px;
  text-transform: uppercase;
  font-weight: 300;
}

/********/
/* MAIN */
/********/

main {
  margin: auto 0 auto 0;
  display: flex;
  flex-direction: column;
  gap: 3em;
}

#score-board {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

/* Score message */
#score-message {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

#score-message > * {
  text-align: center;
  margin: 0;
}

/* score group */

.score-group {
  display: flex;
  justify-content: center;
  gap: 5em;
  text-align: center;
}

.score-card .player-icon {
  font-size: 60px;
}

.score-card p {
  font-size: 20px;
}

/* buttons */

#buttons {
  display: flex;
  gap: 1em;
  justify-content: center;
}

#buttons button {
  padding: 1em;
  font-size: 2em;
  background-color: #1E1E1E;
}

#buttons button:hover {
  background-color: #1F1F1F;
}

/**********/
/* FOOTER */
/**********/

footer {
  background-color: #1F1F1F;
  padding: 2em;
  margin-top: auto;
  text-align: center;
}

/*********/
/* MODAL */
/*********/

#modal {
  display: none;
  position: fixed;
  z-index: 998;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #1E1E1Edd;
}

#modal .modal-body {
  background-color: #1E1E1E;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  padding: 2em;
  text-align: center;
  gap: 1em;
  border-radius: 10px;
  border-color: #E2E2E2;
  border-width: 2px;
  border-style: solid;
}

#modal p {
  margin: 0;
}

#modal button {
  padding: 1em;
  background-color: #E2E2E2;
  color: #1E1E1E;
  border-style: none;
}

#modal button:hover {
  background-color: #bfbdbd;
}

.visible {
  display: block !important;
}

button {
  border-style: none;
  border-radius: 10px;
}

button:hover {
  cursor: pointer;
}